<div class="row margin_top_30">
	<div class="col-xs-5 col-xs-offset-1">
		<div class="list-group">
			<li class="list-group-item gray_bg">
		    <h4 class="list-group-item-heading">Known Advisors (original data)</h4>
		  </li>

		  <% @advisors.each do |advisor| %>
			  <li class="list-group-item">
			    <b><%= advisor.full_name %></b><span class="pull-right"><%= advisor.email %></span>
			  </li>
			<% end %>
		</div>
	</div>

	<div class="col-xs-5">
		<div class="list-group">
			<li class="list-group-item gray_bg">
		    <h4 class="list-group-item-heading">Predicted Emails</h4>
		  </li>

		  <% @advisor_predictions.each do |advisor| %>
			  <li class="list-group-item">
			    <b><%= advisor.full_name %></b><span class="pull-right"><%= advisor.domain %></span>
			    <%= render advisor.predictions %>
			  </li>
			<% end %>
		</div>
	</div>
</div>